    body {
       /* width:900px; */
       font-family: 'sans-serif','Helvetica', 'Arial', 'Book Antiqua','Microsoft Sans Serif';
        max-width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .pad {
        padding: 10px;
    }
    .circular-profile {
	width: 140px;
	height: 140px;
    margin-left: auto;
    margin-right:auto;
	border-radius: 70px;
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
     background: url('../images/profile2.jpg') no-repeat;
	}

        ul.master_navigation
    {
        font-size: 80%;
        text-align: center;
        list-style: none;
        margin: 0.5em 0;
        padding: 0;
    }

    ul.master_navigation li
    {
        display: inline-block;
        padding: 0 0.5%;
    }

    a
    {
        color: #08f;
        font-weight: bold;
        text-decoration: none;
    }

    a:visited
    {
        color: #88f;
    }

    a:hover
    {
        color: #f00;
    }

    p
    {
        text-align: justify;
    }

    .main-nav{
        height: 50px;
         width: 500px;
        margin-left:auto;
        margin-right:auto;
        padding-top:10px;
        margin-top:20px;
        margin-bottom:10px;
       
        line-height:50px;
    }

    .nav-block{
        width: 90px; height: 50%;float:left;
        min-width:88px;
        font-size:small;
        line-height:25px;
        margin-top:5px;
        margin-bottom:5px;
        margin-right:5px;
        margin-left:5px;
        -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
        vertical-align:middle;
        text-align:center;
    }


    .nav-block:hover{ 
        background-color:#333333; 
        cursor:pointer;
        color:#ffffff;

    }

      .main-details{
        height: 50px;
        margin-left:auto;
        min-width:140px;
        font-size:small;
        position:relative;
        margin-right:auto;
        margin-bottom:10px;
        padding-left:10px;
        padding-right:10px;
        padding-top:5px;
        padding-bottom:5px;
        width: 50%;
        color:#9f9d9d;
    }
    
      .resume{
        width: 23%; height: 50%;
        font-size:medium;
        line-height:25px;
        margin-right:auto;
        margin-left:auto;
        -webkit-border-radius: 3px;
	    -moz-border-radius: 70px;
        vertical-align:middle;
        text-align:center;
        text-decoration:underline;
    }

       .resume:hover{ 
        color:#08f; 
        cursor:pointer;

    }

.social-profile-footer {
    width: 150px;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    margin-bottom:10px;
    line-height:48px;
    display:block;
}
.social-icon-holder {
     width: 40px;
     float:left;
     margin-top:5px;
     margin-bottom:5px;
     margin-right:5px;
     margin-left:5px;
     -webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
     animation:none
}
.social-icon-holder img {
    width:40px;
    margin-right:3px;
    margin-left:3px;
    box-shadow: 1px 1px 1px #888888 ;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
/*
.social-icon-holder {
     width: 15%;
     float:left;
     margin-top:5px;
     margin-bottom:5px;
     margin-right:5%;
     margin-left:5%;
     -webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
}
.social-icon-holder img {
    width:40px;
    margin-right:3px;
    margin-left:3px;
    box-shadow: 1px 1px 1px #888888 ;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}*/
.social-icon-holder img:hover {
    cursor:pointer;   
}

/*************************************Small**Screen************************************************/
@media screen and (max-device-width: 568px) { 
    ul.master_navigation
    {
        display:none;
    }

    ul.master_navigation li
    {
        display:none;
    }
    }
@viewport{
    zoom: 1.0;
    width: device-width;
}
@media (max-device-height : 568px) 
   and (max-device-width : 320px) 
   and (-webkit-min-device-pixel-ratio: 2)
   and (orientation : portrait) {
     ul.master_navigation
    {
        display:none;
    }

    ul.master_navigation li
    {
        display:none;
    }

	 .main-nav{
        width:120px;
        height:160px;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
        margin-bottom:10px;
        /**line-height:50px;*/
    }
    .nav-block{
       width: 120px;
       height: 25px;
        font-size:medium;
        margin-top:5px;
        margin-bottom:5px;
        margin-right:auto;
        margin-left:auto;
        -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
        vertical-align:middle;
        text-align:center;
    }
    .nav-block:hover{ 
        background-color:#333333; 
        cursor:pointer;
        color:#ffffff;

    }
    .main-details{
        height: 140px;
        margin-left:auto;
        margin-right:auto;
        width:200px;
        font-size:small;
        
        margin-bottom:10px;
        padding-left:10px;
        padding-right:10px;
        padding-top:5px;
        padding-bottom:5px;
        color:#9f9d9d;
    }
    
      .resume{
        width: 23%; height: 50%;
        font-size:medium;
        line-height:25px;
        margin-right:auto;
        margin-left:auto;
        -webkit-border-radius: 3px;
	    -moz-border-radius: 70px;
        vertical-align:middle;
        text-align:center;
        text-decoration:underline;
    }

       .resume:hover{ 
        color:#08f; 
        cursor:pointer;

    }


.social-profile-footer {
    width: 150px;
    height: 50px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
}
.social-icon-holder {
     width: 40px;
     float:left;
     margin-top:5px;
     margin-bottom:5px;
     margin-right:5px;
     margin-left:5px;
     -webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
     animation:none
}
.social-icon-holder img {
    width:40px;
    margin-right:3px;
    margin-left:3px;
    box-shadow: 1px 1px 1px #888888 ;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.social-icon-holder img:hover {
    cursor:pointer;   
}

  
 
}
/*/////////////////////////////////Small/////Screen////////////////////////////////////////////////////*/